[Unit]
Description=ADI X Server
After=systemd-udev-settle.service
Before=display-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/adi-xserver.sh

[Install]
WantedBy=multi-user.target
